<%- include('partials/header') %>

<section class="form-section auth-box">
  <h1>Login</h1>
  <% if (error) { %>
  <p class="error"><%= error %></p>
  <% } %>

  <form method="POST" action="/auth/login" class="form-grid">
    <label>Email</label>
    <input type="email" name="email" value="<%= old.email || '' %>" required />

    <label>Password</label>
    <input type="password" name="password" required />

    <button class="btn-primary" type="submit">Login</button>
  </form>
</section>

<%- include('partials/footer') %>
